#root {
    min-width: 1280px;
    width: 100%;
    min-height: 800px;
    height: 100%;
    position: relative;
}

.login-bar {
    width: 564px;
    height: 210px;
    border: 1px solid black;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    input {
        width: 90%;
    }
    .child {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .button {
        display: block;
        background: #c0c0c0;
        margin: auto;
        width: 100px;
        height: 30px;
    }
    .message {
        position: absolute;
        top: 0;
        left: 0;
    }

    .top25 {
        margin-top: 25px;
    }
}

header {
    height: 50px;
    background: #E7E9F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    nav {
        a {
            display: inline-block;
        }
        .first {
            margin-right: 18px;
        }
    }
}

main.backend {
    position: relative;
    width: 80%;
    margin: auto;
    padding-top: 70px;
    .table {
        margin-left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);

        .title {
            width: 35%;
        }

        td, th {
            text-align: center;
        }

        a {
            display: inline-block;
        }

        .first {
            margin-right: 10px;
        }
    }

    .new {
        position: absolute;
        top: 20px;
    }

    .form {
        margin-top: -20px;
    }
}
